@import "./components/body";
@import "./components/container";
@import "./components/boutton";


:root {
    --Boutton: rgb(80, 78, 205); /* couleur boutton */
    --BackgroundDash: #ffffff;           /* background couleur dashbord */
    --BackgroundForm: rgb(54, 52, 52);  /* background couleur page formulaire */
    } 