
body {
    margin: 50px;
    background-color: var(--BackgroundDash); 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
