

.container {
    background-color: var(--BackgroundForm);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }